html 
    head 
        title pagina 
    body 
        h1 hola 
        ul 
            li
                a(href="/productos/cola") aaa
            li
                a(href="/productos/pc/gpu") bbb
            li
                a(href="/productos/banana") ccc
            li 
                a(href="/productos/nuevo") new
        img(width="20%", src="/img/wallpaper.jpg")
    footer