doctype html
head
  meta(charset='utf-8')
  title Productos
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
.container.mt-5
  .row
    .col-4.offset-2.p-3.bg-primary
      h1 AGREGAR NUEVO PRODUCTO
    .col-4.p-3.bg-dark
      form(action='/productos' method='post')
        .form-group
          label.text-light(for='producto') Nombre del producto:
          input#producto.form-control(type='text' name='producto')
        .form-group
          label.text-light(for='precio') Precio:
          input#precio.form-control(type='number' name='precio')
        .form-group
          label.text-light(for='categoria') Categoria del producto:
          input#categoria.form-control(type='text' name='categoria')
        button.btn.btn-default(type='submit') Enviar
