.card-title{
    color: #000;
}
.col, a{
    height: 250px;
}
.card-img-top{
    height: 200px;
}
.card-body{
    background-color: rgb(255, 69, 69);
}
html, body{
    background-color: #000;
}
a{
    text-decoration: none;
}