extends nav.pug
block nav
  .container.mt-5
    .row
      h1 ¿Por qué contratar tu seguro con Raya Directa?
      p A la hora de calcular seguro de coche y contratarlo, es importante analizar las opciones disponibles, así como sus características y ventajas.
      p En Raya Directa hemos diseñado varias modalidades de seguros de coche para que encuentres un seguro más barato y completo que se adapte a lo que necesitas, desde un seguro a terceros a un todo riesgo con franquicia.
      div El precio de tu seguro en nuestra compañía y podrás disfrutar de numerosas e interesantes ventajas:
      ul 
          li Tener un seguro a tu medida y contar solo con las coberturas que necesitas.
          li Contar siempre con una gran compañía a tu servicio que te ofrece los mejores recursos tecnológicos y humanos para gestionar con rapidez, comodidad y facilidad tus tramitaciones.
          li Disponible para tus gestiones en Internet y por teléfono siempre que lo necesitas. 24 horas al día, 7 días a la semana, 365 días al año.
          li Amplia red de talleres en todos los puntos de España en los que tendrás preferencia en la reparación. Además, recogerán y devolverán tu coche al lugar donde nos indiques lavado y aspirado.
      h1 ¿Qué coberturas necesitas contratar para tu seguro de coche?
      p Nuestros seguros son flexibles para que se puedan configurar sin que el conductor tenga que renunciar a las coberturas que necesite, siempre al mejor precio.
      p Porque los imprevistos no son los mismos para todos, elige las coberturas que te harán sentir más seguro: asistencia en viaje, coche de sustitución, gestión de multas, curso de recuperación de puntos de carné, y muchas más.z







