extends nav.pug
block nav
  .container.mt-5
    .offset-2.col-8.p-3.mb-5
      h1.text-dark Detalle de la póliza #{id}
      ul
          li Responsabilidad civil obligatoria
          li Responsabilidad civil voluntaria (50.000.000 €)
          li Defensa jurídica y reclamación de daños
          li Incendio, caída de rayo y explosión
          li Robo del vehículo asegurado
          li Rotura de lunas y parabrisas
          li Daños propios al propio vehículo con franquicia de 300,00 €
          li Vehículo alquiler
          li Remolcaje
          li Asistencia en viaje total
          li Seguro del conductor (30.050,00 €)
          li Gestión de multas
          li Curso de recuperación carné por puntos
          li Servicio de atención jurídica
          li Plan mundial de protección por accidentes
          li Asistencia en viaje familiar y universal
          li Daños propios causados por animales
          li Ayuda mecánica
          li Ayuda al mantenimiento del vehículo a domicilio
          li Vehículo de sustitución por avería