body {
    margin-top: 10%;
}


div.cells div.row div div.desc {
    height: 200px !important;
    overflow-y: hidden;
}

nav {
    position: absolute !important;
    width: 100%;
    top: 0;
}

.generalformat {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    height: fit-content;
    overflow: hidden !important;
}

img {
    max-height: 300px;
}

@media (max-width: 768px) {
    body {
        margin-top: 25%;
    }
    .content {
        margin-left: 7px;
        margin-right: 7px;
    }
    .generalformat {
        padding: 0;
        max-height: 720px;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 700px !important;
    }
}
