body {
    margin-top: 10%;
}

footer {
    background-color: rgba(10, 54, 157, 0.4);
}

div.cells div.row div div.desc {
    height: 200px !important;
    overflow-y: hidden;
}


/* Navbar */

nav {
    position: absolute !important;
    width: 100%;
    top: 0;
}

.navbar div button {
    color: #5E7CE2 !important;
    background-color: #4472Ca;
}

.navbar div button:hover {
    background-color: #245eca;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(207,222,231, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border-color: #245eca;
}

.navbar-toggler:hover {
    border-color: #4472Ca;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler:active {
    background-color: #245eca;
}


/* End navbar */


/* Content */

.generalformat {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #0A369D;
    border-radius: 10px;
    height: fit-content;
    overflow: hidden !important;
}

img {
    max-height: 300px;
}

footer {
    margin-top: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* end content */


/* Media */

@media (max-width: 768px) {
    body {
        margin-top: 25%;
    }
    .content {
        margin-left: 7px;
        margin-right: 7px;
    }
    .generalformat {
        padding: 0;
        max-height: 720px;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 700px !important;
    }
}


/* end media */